<!DOCTYPE html>
<html lang="en">
    <head>
      <title>BurgerOnline</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
      <main>
        <h1>Welcome to BurgerOnline</h1>
        <section>
          <h2>Select Burger</h2>
          <p>This is where you execute burger selection</p>

          <table>

            <thead>

              <tr>
                <th>The Fire Burger!</th>
                
                <th>Fried Turkey Burger</th>
                
                <th>A Double w/ Cheese</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td> <img src="https://wallpapershome.com/images/pages/pic_v/16604.jpg" width="250"> </td>
                <td> <img src="https://d5dnlg5k9nac9.cloudfront.net/processed/thumbs/8ee5c88bc69f40691e73d9f68045b813c9268bef_r791_530.png" width="400"> </td>
                <td> <img src="https://lh3.googleusercontent.com/Ele8gtDOd1tlQ4TebRJkf6XgpciDD2e57Jf5E3UwAzvfPs0kLhOXJLewZYsu1CFn9CPly0TLvrZUCqJnXMn0=s525" width="400"> </td>
              </tr>

              <tr>
                <td>
                  <ul>
                    <li>Kobe beef of the highest quality</li>
                    <li>Covered in fancy cheese <span class="allergy_text">(contains lactose)</span></li>
                    <li>Cold-leavened sourdough bread <span class="allergy_text">(contains gluten)</span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Deep fried Turkish turkey</li>
                    <li>Pink sauce <span class="allergy_text">(contains lactose)</span></li>
                    <li>Shake-n-bake gluten-free bread</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Two layers of pure meat</li>
                    <li>Lots of yummy cheese <span class="allergy_text">(contains lactose)</span></li>
                    <li>Sweet bread bun <span class="allergy_text">(contains gluten)</span></li>
                  </ul>
                </td>
              </tr>

            </tbody>

          </table>

        </section>


        <section>
          <h2>Customer Information</h2>
          <p>This is where you provide necessary information</p>
          <section id="contact">
            <form>
              <p>
                <label for="fullname">Full name</label><br>
                <input type="text" id="full_name" name="fn" required="required" placeholder="First- and Last name" />
              </p>
              <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
              </p>
              <p>
                <label for="street">Street</label><br>
                <input type="text" id="street" name="st" required="required" placeholder="Street name" />
              </p>
              <p>
                <label for="house">House</label><br>
                <input type="number" min="1" id="house" name="ho" required="required" placeholder="House number" />
              </p>
              <p>
                <label for="recipient">Recipient</label><br />
                <select id="recipient" name = "rcp">
                  <option selected="selected">Credit card</option>
                  <option>Swish</option>
                  <option>Cash</option>
                  <option>Coupon</option>
                </select>
              </p>
              <p>
                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="notprovided" checked="checked"> Do not wish to provide
              </p>
              <p>
                <button type="submit"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Check_mark_23x20_02.svg/1081px-Check_mark_23x20_02.svg.png" width="20" />Send Info </button>
              </p>
            </form>
          </section>
        </section>
      </main>
      <footer>&copy; 2020 Hypothetical Burgers Inc.</footer>
    </body>
</html>
