<!DOCTYPE html>
<html lang="en">
    <head>
      <title>BurgerOnline</title>
      <meta charset="utf-8"/>
    </head>
    <body>
      <main>
        <h1>Welcome to BurgerOnline</h1>
        <section>
          <h2>Select Burger</h2>
          <p>This is where you execute burger selection</p>

          <table>

            <thead>

              <tr>
                <th>The Fire Burger!</th>
                
                <th>Fried Turkey Burger</th>
                
                <th>A Double w/ Cheese</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td> <img src="https://wallpapershome.com/images/pages/pic_v/16604.jpg" width="250"> </td>
                <td> <img src="https://d5dnlg5k9nac9.cloudfront.net/processed/thumbs/8ee5c88bc69f40691e73d9f68045b813c9268bef_r791_530.png" width="400"> </td>
                <td> <img src="https://lh3.googleusercontent.com/Ele8gtDOd1tlQ4TebRJkf6XgpciDD2e57Jf5E3UwAzvfPs0kLhOXJLewZYsu1CFn9CPly0TLvrZUCqJnXMn0=s525" width="400"> </td>
              </tr>

              <tr>
                <td>
                  <ul>
                    <li>Kobe beef of the highest quality</li>
                    <li>Covered in fancy cheese (contains lactose)</li>
                    <li>Cold-leavened sourdough bread (contains gluten)</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Deep fried Turkish turkey</li>
                    <li>Pink sauce (contains )</li>
                    <li>Shake-n-bake gluten-free bread</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Two layers of pure meat</li>
                    <li>Lots of yummy cheese (contains lactose)</li>
                    <li>Sweet bread bun (contains gluten)</li>
                  </ul>
                </td>
              </tr>

            </tbody>

          </table>

        </section>


        <section>
          <h2>Customer Information</h2>
          <p>This is where you provide necessary information</p>
        </section>
      </main>
      <footer></footer>
    </body>
</html>
