body {
    font-family: arial;
    font-size: 18px;
    margin: 0 auto;
}

.allergy_text {
    font-weight: bold;
}

#burger_box {
    color: #ffffff;
    background: #000000;
}

#info_box {
    
}

button {
    margin: 100px 0 0 0 ;
}
button:hover {
    background: #808080;
    cursor: pointer;
}
table {
    width: 80%;
    margin: 0 auto;
}

section {
    margin: 25px;
}
