body {
    font-family: arial;
    font-size: 18px;
    margin: 0 auto;
}

.allergy_text {
    font-weight: bold;
}

#burger_box {
    color: #ffffff;
    background: #000000;
    border: 4px dashed;
}

#info_box {
    border: 4px dashed;
}

button {
    margin: 100px 0 0 0 ;
}
button:hover {
    background: #808080;
    cursor: pointer;
}
table {
    width: 80%;
    margin: 0 auto;
}

section {
    margin: 25px;
    padding: 15px;
}

header img {
    opacity: 0.3;
    width: 100%;
    height: auto;
}

header h1 {
    position: absolute;
    padding: 190px;
}

header {
    padding: 10px;
    margin-right: 25px;
    margin-left: 25px;
    overflow: hidden;
}

#burgerList {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 400px 400px 400px;
}

#burgerList img {
    width: 400px;
    height: 400px;
}
